// project

.project {
  a[href^="project"] {
    color: inherit;
    flex: 2 0;
  }

  .card {
    transition: all 0.4s;
    &:hover {
      border-color: tomato;
      transform: scale(1.02);
    }
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}

.status {
  display: flex;
  align-items: center;
  align-content: center;

  .oi-media-record.open {
    color: green;
  }
  .oi-media-record.closed {
    color: red;
  }
}

.single-project {
  .display-4 {
    font-size: 3rem;
  }
  .clock {
    font-size: 2rem;
  }
}
