// import variables - colors;
@import '../../scss/config';

.project {
  margin-bottom: 1em;
}

.project-link {
  &:hover {
    text-decoration: none;
  }
}

.project-card {
  border-width: 2px;
  border-radius: 10px;
  transition: all 0.4s;
  height: 300px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    border-color: $primary-accent-color;
    border-width: 2px;
  }
}

.project-card-body {
  color: initial;
}

.project-card-title {
  text-transform: capitalize;
}
