// import variables - colors;
@import '../../scss/config';

.project-link {
  &:hover {
    text-decoration: none;
  }
}

.project-card {
  border-radius: 0;
  transition: all 0.4s;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: $light-gray;
  }
}

.project__card-body {
  color: initial;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-flow: nowrap row;
  }
}

.project__date {
  color: $gray;
}

.project__card-title {
  font-weight: 500;
}

.project__card-text {
  margin-top: 2rem;
  width: 100%;
  color: $gray;

  @media screen and (min-width: 760px) {
    max-width: 50%;
    margin-top: 0;
  }
}
