.btn-warning,
.btn-success {
  background-color: #08a045;
  border-color: #08a045; }
  .btn-warning:hover,
  .btn-success:hover {
    background-color: #0b6e4f;
    border-color: #0b6e4f; }

.btn-primary {
  background-color: #0070AF;
  border-color: #0070AF; }
  .btn-primary:hover {
    background-color: #0A3A56;
    border-color: #0A3A56; }
  .btn-primary:disabled {
    background-color: #0070AF;
    border-color: #0070AF; }

.alert-info {
  color: #0b6e4f;
  background-color: #7ae582;
  border-color: #7ae582; }

.isDisabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none; }

.project-link:hover {
  text-decoration: none; }

.project-card {
  border-radius: 0;
  transition: all 0.4s;
  overflow: hidden; }
  .project-card:hover {
    cursor: pointer;
    background-color: #F7F7F7; }

.project__card-body {
  color: initial;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .project__card-body {
      flex-flow: nowrap row; } }

.project__date {
  color: #75758B; }

.project__card-title {
  font-weight: 500; }

.project__card-text {
  margin-top: 2rem;
  width: 100%;
  color: #75758B; }
  @media screen and (min-width: 760px) {
    .project__card-text {
      max-width: 50%;
      margin-top: 0; } }
