.Timer {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
}

.Time {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;

  @media screen and (min-width: 576px) {
    text-align: left;
  }
}

.ControlBtn {
  width: 100px;
}

.ControlBtns {
  text-align: center;

  @media screen and (min-width: 576px) {
    text-align: right;
  }
}