// import variables - colors;
@import '../../../scss/config'; 

.ProjectDetails {
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 10px;

  a, button {
    width: 100px !important;
    color: #fff;
    margin-bottom: 1rem;

    &:hover {
      color: #fff;
    }
  }
}