.btn-warning,
.btn-success {
  background-color: #08a045;
  border-color: #08a045; }
  .btn-warning:hover,
  .btn-success:hover {
    background-color: #0b6e4f;
    border-color: #0b6e4f; }

.btn-primary {
  background-color: #0070AF;
  border-color: #0070AF; }
  .btn-primary:hover {
    background-color: #0A3A56;
    border-color: #0A3A56; }
  .btn-primary:disabled {
    background-color: #0070AF;
    border-color: #0070AF; }

.alert-info {
  color: #0b6e4f;
  background-color: #7ae582;
  border-color: #7ae582; }

.isDisabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none; }

.MainNav {
  background-color: #0A3A56; }

.nav__button {
  background: none;
  border: none;
  padding-top: 10px;
  color: #fff; }
  .nav__button:hover {
    cursor: pointer; }
