// import variables - colors;
@import '../../../scss/config'; 

.MainNav {
  background-color: $primary-accent-color;
}

.nav__button {
  background: none;
  border: none;
  padding-top: 10px;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}