.archivedProject {

  .lead {
    text-align: justify;
  }
}

.export-btns {
  display: flex;
  flex-direction: column;
  width: 100px;
}

// print only project infos
@media print {
  header {
    display: none;
  }

  .export-btns {
    display: none;
  }

  .app {
    margin: 3rem;
  }
}