// import variables - colors;
@import '../../../scss/config';

.logo {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.hero {
  background-color: $primary-color;
  color: #fff;
  border-radius: 0;
}
