// colors
$honolulu-blue: #0070AF;
$prussion-blue: #0A3A56;
$pantone: #08a045;
$bottle-green: #0b6e4f;
$pastel-green: #7ae582;

$primary-color: $honolulu-blue;
$primary-accent-color: $prussion-blue;
$secondary-color: $pantone;
$secondary-accent-color: $bottle-green;
