// import variables - colors;
@import '../../../scss/config'; 

.ProjectDetails {
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 10px;

  .lead {
    text-align: justify;
  }
  
  a, button {
    width: 100px !important;
    color: #fff;
    margin-bottom: 1rem;

    &:hover {
      color: #fff;
    }
  }
}

.project-name {
  text-transform: capitalize;
}

.ProjectControlBtns {
  text-align: center;
  
  @media screen and (min-width: 576px) {
    text-align: right;
  }

}
