.btn-warning,
.btn-success {
  background-color: #08a045;
  border-color: #08a045; }
  .btn-warning:hover,
  .btn-success:hover {
    background-color: #0b6e4f;
    border-color: #0b6e4f; }

.btn-primary {
  background-color: #0070AF;
  border-color: #0070AF; }
  .btn-primary:hover {
    background-color: #0A3A56;
    border-color: #0A3A56; }
  .btn-primary:disabled {
    background-color: #0070AF;
    border-color: #0070AF; }

.alert-info {
  color: #0b6e4f;
  background-color: #7ae582;
  border-color: #7ae582; }

.isDisabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none; }

.ActiveProject__details {
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 10px; }

.ActiveProject__description {
  text-align: justify;
  color: #75758B; }

.ActiveProject__header {
  text-align: center;
  margin-bottom: 3rem; }
  @media screen and (min-width: 768px) {
    .ActiveProject__header {
      text-align: left;
      margin-bottom: 0; } }

.ActiveProject__name {
  text-transform: capitalize; }

.ActiveProject__control-btns {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .ActiveProject__control-btns {
      text-align: right; } }
  .ActiveProject__control-btns a, .ActiveProject__control-btns button {
    width: 100px !important;
    color: #fff;
    margin-bottom: 1rem; }
    .ActiveProject__control-btns a:hover, .ActiveProject__control-btns button:hover {
      color: #fff; }

.ActiveProject__sessions {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .ActiveProject__sessions {
      text-align: left; } }
