// import variables - colors;
@import '../../../scss/config';

.ActiveProject__details {
  border: 1px solid #ccc;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 10px;
}

.ActiveProject__description {
  text-align: justify;
  color: $gray;
}

.ActiveProject__header {
  text-align: center;
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.ActiveProject__control-btns {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: right;
  }

  a, button {
    width: 100px !important;
    color: #fff;
    margin-bottom: 1rem;

    &:hover {
      color: #fff;
    }
  }
}

.ActiveProject__sessions {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}